#set($title='欢迎页面')
#*js执行是有顺序的,如果不用jQuery加载页面后运行的方式,一定要吧脚本放在加载完页面之后*#
<script>
    var datajson = {
        checkedNames: []
    };

    $(function(){
        Vue.component('my-checkbox',{
            template:'<div class="controls">\
                      <label class="checkbox inline"> \
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Option 1 \
                      </label>\
                      <label class="checkbox inline"> \
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> Option 2 \
                      </label>\
                      </div>'
            model: {
                prop: 'checked',
                event: 'change'
            },
            props: {
                checked: Boolean,
                value: String
            },
            data:function () {
                var
            }
        });
        var app = new Vue({
            el: '#app',
            data:datajson
        });
    });
</script>
<div class="row-fluid">
    <div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
        <div class="boxchart">5,6,7,2,0,4,2,4,8,2,3,3,2</div>
        <div class="number">854<i class="icon-arrow-up"></i></div>
        <div class="title">visits</div>
        <div class="footer">
            <a href="#"> read full report</a>
        </div>
    </div>
    <div class="span3 statbox green" onTablet="span6" onDesktop="span3">
        <div class="boxchart">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
        <div class="number">123<i class="icon-arrow-up"></i></div>
        <div class="title">sales</div>
        <div class="footer">
            <a href="#"> read full report</a>
        </div>
    </div>
    <div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
        <div class="boxchart">5,6,7,2,0,-4,-2,4,8,2,3,3,2</div>
        <div class="number">982<i class="icon-arrow-up"></i></div>
        <div class="title">orders</div>
        <div class="footer">
            <a href="#"> read full report</a>
        </div>
    </div>
    <div class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
        <div class="boxchart">7,2,2,2,1,-4,-2,4,8,,0,3,3,5</div>
        <div class="number">678<i class="icon-arrow-down"></i></div>
        <div class="title">visits</div>
        <div class="footer">
            <a href="#"> read full report</a>
        </div>
    </div>
</div>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Form Elements</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content" id="app">
            <my-checkbox  value="some value"></my-checkbox>
        </div>
    </div>
</div>




