<!-- start: Meta -->
<meta charset="utf-8">

<meta name="description" content="共享账号,更经济,更实惠">
<meta name="keyword" content="共享,共享账号,共享空间">
<!-- end: Meta -->

<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- end: Mobile Specific -->

<!-- start: CSS -->
<link id="bootstrap-style" href="${ctxPath}css/bootstrap.min.css" rel="stylesheet">
<link href="${ctxPath}css/bootstrap-responsive.min.css" rel="stylesheet">
<link id="base-style" href="${ctxPath}css/style.css" rel="stylesheet">
<link id="base-style" href="${ctxPath}css/style-forms.css" rel="stylesheet">
<link id="base-style-responsive" href="${ctxPath}css/style-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
<!-- end: CSS -->

<!-- start: Favicon -->
<link rel="shortcut icon" href="${ctxPath}img/favicon.ico">
<!-- end: Favicon -->
<!-- start: JavaScript-->
<script src="${commonPath}js/vue.js"></script>
<script src="${ctxPath}js/jquery-1.9.1.min.js"></script>
<script src="${ctxPath}js/jquery-migrate-1.0.0.min.js"></script>

<script src="${ctxPath}js/jquery-ui-1.10.0.custom.min.js"></script>

<script src="${ctxPath}js/jquery.ui.touch-punch.js"></script>

<script src="${ctxPath}js/modernizr.js"></script>

<script src="${ctxPath}js/bootstrap.min.js"></script>

<script src="${ctxPath}js/jquery.cookie.js"></script>

<script src='${ctxPath}js/fullcalendar.min.js'></script>

<script src='${ctxPath}js/jquery.dataTables.min.js'></script>

<script src="${ctxPath}js/excanvas.js"></script>
<script src="${ctxPath}js/jquery.flot.js"></script>
<script src="${ctxPath}js/jquery.flot.pie.js"></script>
<script src="${ctxPath}js/jquery.flot.stack.js"></script>
<script src="${ctxPath}js/jquery.flot.resize.min.js"></script>

<script src="${ctxPath}js/jquery.chosen.min.js"></script>

<script src="${ctxPath}js/jquery.uniform.min.js"></script>

<script src="${ctxPath}js/jquery.cleditor.min.js"></script>

<script src="${ctxPath}js/jquery.noty.js"></script>

<script src="${ctxPath}js/jquery.elfinder.min.js"></script>

<script src="${ctxPath}js/jquery.raty.min.js"></script>

<script src="${ctxPath}js/jquery.iphone.toggle.js"></script>

<script src="${ctxPath}js/jquery.uploadify-3.1.min.js"></script>

<script src="${ctxPath}js/jquery.gritter.min.js"></script>

<script src="${ctxPath}js/jquery.imagesloaded.js"></script>

<script src="${ctxPath}js/jquery.masonry.min.js"></script>

<script src="${ctxPath}js/jquery.knob.modified.js"></script>

<script src="${ctxPath}js/jquery.sparkline.min.js"></script>

<script src="${ctxPath}js/counter.js"></script>

<script src="${ctxPath}js/retina.js"></script>

<script src="${ctxPath}js/custom.js"></script>
<!-- end: JavaScript-->